ul {
  width: 300px;
  margin: auto;
  text-align: center;
  color: white;
  font-family: filson-soft, sans-serif;
  font-size: 1.5em;
  letter-spacing: 4px;
  text-transform: uppercase;
  padding-top: 200px;
  list-style: none;
}

@media only screen and (max-width: 480px) {
  ul {
    padding-top: 50px;
    font-size: 1em;
  }
}

ul li {
  width: 275px;
  margin: 30px auto;
  border: 3px solid white;
  padding: 20px;
  transition: width 200ms;
}

ul li:hover {
  background: white;
  color: #482478;
  width: 300px;
}

ul li:last-child {
  margin-bottom: 0;
}
