@media only screen and (max-width: 1224px) {

  .question {
    width: 50%;
    font-size: 2em;
    padding-top: 75px;
    margin-bottom: 50px;
    text-shadow: 2px 2px 3px #482478;
  }

  .answer,
  .answerFinal {
    margin-top: 15px;
    width: 50%;
    padding: 15px;
    font-size: 1em;
  }

}

@media only screen and (max-width: 768px) {

  .container {
    padding-bottom: 150px;
  }

  .question {
    width: 75%;
  }

  .answer,
  .answerFinal {
    width: 75%;
  }

  .scoreContainer {
    height: 75px;
  }

  #questionTracker {
    width: 100%;
  }

  #scoreSpace {
    display: none;
  }

  .gameEnd {
    padding: 50px;
    font-size: 20pt;
  }

  .endGameButtons {
    flex-direction: column;
  }

  .endGameButtons button:last-child {
    margin-top: 10px;
  }

}


@media only screen and (max-width: 480px) {

  .container {
    padding-bottom: 100px;
  }

  .question {
    font-size: 1.25em;
    padding-top: 50px;
  }

  .answer,
  .answerFinal {
    margin-top: 10px;
    font-size: 0.85em;
  }

  .scoreContainer {
    height: 50px;
  }

  .questionTrackerSection img {
    height: auto;
    width: 75%;
  }

}
