@import url("https://use.typekit.net/hac8cze.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: filson-soft, sans-serif;
  font-style: normal;
}

.questionSpace {
  display: none;
}

.active {
  display: block;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to top left, #7E60A9, #D65DB1, #FF6F91, #FF9671, #FFC75F, #F9F871);
}

.question {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
  margin-bottom: 100px;
  font-family: filson-soft, sans-serif;
  font-style: normal;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  font-size: 3em;
  color: white;
  text-shadow: 3px 3px 5px #FF6F91;
}



.answer,
.answerFinal {
  background-color: #7E60A9;
  margin: 25px auto;
  padding-bottom: 200px;
  font-weight: 400;
  text-align: center;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 800;
  padding: 20px;
  width: 20%;
  list-style: none;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}

#questionTracker {
  width: 100%;
  height: 75px;
  display: flex;
  flex-direction: row;
}

#questionTracker div:nth-of-type(1n) {
  background-color: #7E60A9;
}
#questionTracker div:nth-of-type(2n) {
  background-color: #D65DB1;
}
#questionTracker div:nth-of-type(3n) {
  background-color: #FF6F91;
}
#questionTracker div:nth-of-type(4n) {
  background-color: #FF9671;
}
#questionTracker div:nth-of-type(5n) {
  background-color: #FFC75F;
}
#questionTracker div:nth-of-type(6n) {
  background-color: #F9F871;
}
#questionTracker div:nth-of-type(7n) {
  background-color: #FFC75F;
}
#questionTracker div:nth-of-type(8n) {
  background-color: #FF9671;
}
#questionTracker div:nth-of-type(9n) {
  background-color: #FF6F91;
}
#questionTracker div:nth-of-type(10n) {
  background-color: #D65DB1;
}

.questionTrackerSection {
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.questionTrackerSection img {
  height: 60%;
}

.scoreContainer {
  width: 100%;
}

#scoreSpace {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 15%;
  height: 200px;
  background-color: #7E60A9;
  border-radius: 100px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 7em;
  font-weight: 800;
}

#questionTracker {
  width: 85%;
  height: 100px;
  background-color: #7E60A9;
  position: fixed;
  bottom: 0;
  left: 0;
}

.gameEnd {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7E60A9;
  z-index: 100;
  color: white;
  visibility: hidden;
  font-size: 10em;
  font-weight: 800;
}

.gameEndActive {
  visibility: visible;
}

.correctClick {
  background-color: green;
}

.incorrectClick {
  background-color: red;
}
