.gameEnd {
  position: absolute;
  width: 100%;
  height: 100vh;
  color: white;
  background-image: linear-gradient(to right top, #c44b8f, #6a2b80, #482478);
  bottom: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 4em;
}

.gameEnd p {
  width: 75%;
}

.gameEnd p:nth-child(3) {
  font-family: 'Biryani', sans-serif;
  font-weight: 800;
  font-size: 2em;
  margin-bottom: -50px;
}

.replayButtons {
  width: 40%;
}

.replayButtons button {
  width: 45%;
  background: transparent;
  border: 3px solid white;
  color: white;
  margin: 10px;
  margin-top: 75px;
  padding: 15px;
  letter-spacing: 2px;
  font-size: 18pt;
  cursor: pointer;
}

.replayButtons button:hover {
  background:white;
  color: #482478;
}
