@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {opacity: 1;}
}

.title {
  width: 100%;
  text-align: center;
  background-color: #482478;
  font-family: 'Biryani', sans-serif;
  font-weight: 800;
  text-transform: capitalize;
  color: white;
  font-size: 8em;
  margin-bottom: 50px;
}

@media only screen and (max-width: 1224px) {
  .title {
    font-size: 6em;
  }
}

@media only screen and (max-width: 768px) {
  .title {
    font-size: 4em;
  }
}

@media only screen and (max-width: 480px) {
  .title {
    font-size: 2em;
  }
}

.chooseCat {
  width: 600px;
  margin: auto;
  padding: 20px;
  text-align: center;
  background: none;
  border: 3px solid white;
  text-transform: uppercase;
  font-size: 1.75em;
  color: white;
  letter-spacing: 7px;
  text-indent: 1.5px;
  cursor: pointer;
  transition: width 175ms ease-out;
}

.chooseCat:hover {
  background: white;
  color: #482478;
  width: 100%;
}

/* CATEGORIES SECTION */

#categories {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

#categoryList {
  animation-name: fadeIn;
  animation-duration: 1000ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#categoryList {
  width: 100%;
  margin: auto;
  text-align: center;
  color: white;
  font-size: 1.5em;
  letter-spacing: 4px;
  list-style: none;
}

@media only screen and (max-width: 480px) {
  #categoryList {
    padding-top: 50px;
    font-size: 1em;
  }
}

#categoryList li {
  width: 100%;
  padding: 30px 0;
  cursor: pointer;
}

#categoryList li:hover {
  background: rgba(255, 255, 255, 0.85);
  color: #482478;
  width: 100%;
}

#categoryList li:last-child {
  margin-bottom: 0;
}
