#questionsContainer {
  width: 100%;
  height: 100vh;
}

.questionAndAnswer {
  animation: fadeIn 1250ms;
}

.question {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  margin-bottom: 50px;
}

.question h2 {
  font-family: 'Patua One', sans-serif;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
  font-size: 3em;
  letter-spacing: 3px;
  color: white;
  text-shadow: 3px 3px 5px #482478;
}

.answer ul li {
  background-color: #482478;
  margin: auto;
  margin-top: 25px;
  font-weight: 400;
  text-align: center;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
  padding: 20px;
  width: 20%;
  list-style: none;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  transition: all 150ms;
}

.answer ul li:hover {
  background-color: blue;
}
