@@keyframes slideAndFade {
  from {opacity: 0; top: 200px}
  to {opacity: 1; top: 0}
}

#questionsContainer {
  width: 100%;
  min-height: 100vh;
  padding-top: 100px;
  padding-bottom: 150px;
  overflow: hidden;
}

.questionAndAnswer {
  position: relative;
  animation-name: slideAndFade;
  animation-duration: 750ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.questionDiv {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.questionDiv h2 {
  font-family: 'Biryani', sans-serif;
  font-weight: 800;
  text-transform: none;
  text-align: center;
  font-size: 2.5em;
  color: white;
  text-shadow: 3px 3px 5px #482478;
}

.answer {
  background-color: #482478;
  margin: auto;
  margin-top: 25px;
  font-weight: 400;
  text-align: center;
  font-size: 1.25em;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 2px;
  padding: 20px;
  width: 30%;
  min-width: 300px;
  list-style: none;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  transition: all 150ms;
  position: relative;
}

.answerCorrect {
  background-color: #419ee0;
  color: black;
}

.answer:hover {
  background-color: #221889;
}

.example-enter {
  opacity: 0.01;
  top: 200px;
}

.example-enter-active {
  opacity: 1;
  top: 0;
  transition: all 750ms ease;
}

.noClickEvent {
  pointer-events: none;
}

@media only screen and (max-width: 1224px) {
  .questionDiv {
    width: 75%;
  }

  .questionDiv h2 {
    font-size: 2em;
  }

  .answer {
    width: 50%;
    font-size: 1em;
  }
}

@media only screen and (max-width: 768px) {

  .questionDiv h2 {
    font-size: 1.5em;
  }

  .answer {
    width: 50%;
    font-size: 0.75em;
  }
}

@media only screen and (max-width: 480px) {

  .questionDiv {
    width: 80%;
    margin-bottom: 25px;
  }

  .questionDiv h2 {
    font-size: 1.25em;
  }

  .answer {
    margin-top: 10px;
    padding: 15px;
    width: 75%;
    min-width: 200px;
  }

}
