#questionsContainer {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

@@keyframes slideAndFade {
  from {opacity: 0; top: 200px}
  to {opacity: 1; top: 0}
}

.questionAndAnswer {
  position: relative;
  animation-name: slideAndFade;
  animation-duration: 750ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.questionDiv {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  margin-bottom: 50px;
}

.questionDiv h2 {
  font-family: 'Biryani', sans-serif;
  font-weight: 800;
  text-transform: none;
  text-align: center;
  font-size: 2.5em;
  color: white;
  text-shadow: 3px 3px 5px #482478;
}

.answer {
  background-color: #482478;
  margin: auto;
  margin-top: 25px;
  font-weight: 400;
  text-align: center;
  font-size: 1.25em;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 2px;
  padding: 20px;
  width: 20%;
  list-style: none;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  transition: all 150ms;
  position: relative;
}

.answerCorrect {
  background-color: #419ee0;
  margin: auto;
  margin-top: 25px;
  font-weight: 400;
  text-align: center;
  font-size: 1.25em;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 2px;
  padding: 20px;
  width: 20%;
  list-style: none;
  color: black;
  border-radius: 20px;
  cursor: pointer;
  transition: all 150ms;
  position: relative;
}

.answer:hover {
  background-color: #221889;
}

.example-enter {
  opacity: 0.01;
  top: 200px;
}

.example-enter-active {
  opacity: 1;
  top: 0;
  transition: all 750ms ease;
}

.noClickEvent {
  pointer-events: none;
}
