@keyframes slideUp {
  from {transform: translateY(100%);}
  to {transform: translateY(0);}
}

.scoreContainer {
  width: 100%;
  height: 105px;
  border-top: 5px solid white;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  animation: slideUp 1250ms;
}

.correctTracker {
  width: 75%;
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
}

.correctTrackerSection {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.correctTrackerSection img {
  max-width: 75%;
  max-height: 75%;
}

.correctTracker div:nth-child(odd) {
  background-color: #482478;
}

.correctTracker div:nth-child(even) {
  background-color: #6a2b80;
}

.scoreTracker {
  text-align: center;
  width: 25%;
  height: 100%;
  background-color: #482478;
  border-left: 5px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 800;
  position: absolute;
  bottom: 0;
  right: 0;
}

.scoreTracker p:first-child {
  font-size: 3em;
  letter-spacing: 3px;
  font-family: 'Biryani', sans-serif;
  font-weight: 800;
  margin-bottom: -20px;
}

.scoreTracker p:last-child {
  font-size: 1em;
  position: relative;
  bottom: 5%;
}

@media only screen and (max-width: 768px) {

  .scoreContainer {
    height: 80px;
  }

  .correctTracker {
    width: 80%;
  }

  .scoreTracker {
    width: 20%;
  }

  .scoreTracker p:first-child {
    font-size: 2em;
    position: relative;
    bottom: 5px;
  }

  .scoreTracker p:last-child {
    display: none;
  }

}

@media only screen and (max-width: 480px) {

  .scoreContainer {
    height: 60px;
  }

  .correctTracker {
    width: 100%;
  }

  .scoreTracker {
    display: none;
  }

}
