a {
  text-decoration: none;
  color: inherit;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
}

.container {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(to right top, #c44b8f, #6a2b80, #482478);
  background-attachment: fixed;
}
